# -------------------------------------------------------------
# Researchify AI - Environment Configuration
# -------------------------------------------------------------

# Google Gemini API Key (Required)
# Obtain a free API key at: https://aistudio.google.com/
GEMINI_API_KEY=""

# Host port & application URL
PORT=8080
APP_URL="http://localhost:8080"
